.container{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.content__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*ПОМЕНЯЙ НА ФЛЕКС СТАРТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТТ*/

.content__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}